body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "system-ui", sans-serif;
  font-weight: 200;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  flex-shrink: 0;
  background-color: #62757f;
  color: white;
}
header h1 {
  margin-left: 3%;
  font-weight: lighter;
  font-size: 3.5vw;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  list-style: none;
}
header nav a {
  text-decoration: none;
  color: inherit;
  font-size: 2.5vw;
  padding-right: 2vw;
}
header nav h3 {
  text-decoration: none;
  color: inherit;
  font-size: 2.5vw;
  padding-right: 2vw;
  margin: 0;
  font-weight: 300;
  cursor: pointer;
}
header nav .categories-wrapper:hover #movies-categories {
  opacity: 1;
  pointer-events: all;
}
header nav #movies-categories {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  background-color: #62757f;
  position: absolute;
  margin-top: 0vw;
  pointer-events: none;
  right: 1vw;
  box-shadow: 0.2vw 0.2vw 0.4vw 0.1vw rgba(0, 0, 0, 0.2);
}
header nav #movies-categories a {
  font-size: 2vw;
  padding-left: 0.2vw;
}
header nav #movies-categories a:nth-child(odd) {
  background-color: #405865;
}
header nav #movies-categories a:first-child {
  padding-bottom: 1%;
}

main {
  width: 100%;
}
main .featured-movie {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  border: 0.3vw solid black;
  overflow: hidden;
  margin: 2vw;
  margin-bottom: 0;
}
main .featured-movie .sub-container {
  flex: 1;
  display: flex;
  justify-content: center;
  max-height: inherit;
  justify-content: center;
  align-items: flex-start;
}
main .featured-movie .sub-container img {
  object-fit: cover;
  max-height: inherit;
  width: 14vw;
}
main .featured-movie .featured-movie-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-height: inherit;
  margin-right: 1vw;
}
main .featured-movie .featured-movie-layout h2 {
  font-size: 3vw;
  margin-bottom: 1vw;
  text-align: center;
}
main .featured-movie .featured-movie-layout .play-button {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  width: 12vw;
  font: inherit;
  font-size: 2.5vw;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  color: white;
  height: 4vw;
  background-color: #fc4641;
  border: none;
  border-radius: 5vw;
  cursor: pointer;
}
main .featured-movie .featured-movie-layout .play-button:hover {
  background-color: #f88872;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 2px;
}
main .featured-movie .featured-movie-layout .summary {
  text-align-last: center;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  font-size: 1.6vw;
  margin: 1vw 1vw 1vw 0vw;
  font-weight: bolder;
}
main .featured-movie .featured-movie-layout .summary::-webkit-scrollbar {
  display: none;
}
main .featured-movie .layout-helper {
  flex: 1;
}
main .categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main .categories .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
  width: 100vw;
}
main .categories .category h3 {
  font-size: 2vw;
  font-weight: 500;
  margin-bottom: 3vw;
}
main .categories .category .movies-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  white-space: nowrap;
  width: 92vw;
}
main .categories .category .movies-list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2vw;
  padding: 0%;
}
main .categories .category .movies-list .carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  list-style: none;
  padding: 0%;
  margin: 0% 1% 0% 1%;
  scroll-behavior: smooth;
  width: 100%;
}
main .categories .category .movies-list .carousel .item {
  margin: 0vw 1.9vw 0vw 0vw;
  border: solid 0.3vw black;
  box-sizing: border-box;
  max-height: 29.2vw;
}
main .categories .category .movies-list .carousel .item a {
  width: 100%;
  display: block;
  min-height: 30vw;
}
main .categories .category .movies-list .carousel .item img {
  width: max-content;
  overflow: hidden;
  width: 19.5vw;
}
main .categories .category .movies-list .carousel .item:first-child {
  margin-left: 0.9vw;
}
main .categories .category .movies-list .carousel .item:last-child {
  margin-right: 0.9vw;
}

.modal {
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.904);
  z-index: 998;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal .close {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  width: 0em;
}
.modal .close .close-window {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.5vw;
  padding-right: 2vw;
  color: rgb(0, 0, 0);
  position: relative;
  bottom: 0vw;
  z-index: 1;
  right: -44vw;
}
.modal .modal-content {
  margin: 1em;
  position: fixed;
  flex-direction: column;
  display: flex;
  background: transparent;
  overflow: hidden;
  max-width: 80%;
  width: 80%;
  border-radius: 1vw;
  box-shadow: 0em 0em 1vw 0px gray;
}
.modal .modal-content .modal-top {
  display: flex;
  align-self: center;
  width: 100%;
  justify-content: center;
  background-color: white;
  padding: 0vw;
}
.modal .modal-content .modal-top .movie-image {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
}
.modal .modal-content .modal-top .movie-image img {
  padding-bottom: 0vw;
  max-height: 28vw;
  min-height: auto;
  min-width: 17vw;
}
.modal .modal-content .movie-details {
  list-style: none;
  display: flex;
  font-weight: 500;
  background-color: #62757f;
  overflow-wrap: anywhere;
  align-items: flex-start;
  margin: 0vw;
  flex-direction: column;
  color: rgb(0, 0, 0);
  font-size: 1.5vw;
  overflow-y: scroll;
  padding-left: 0;
  max-height: 21.2vw;
}
.modal .modal-content .movie-details::-webkit-scrollbar {
  display: none;
}
.modal .modal-content .movie-details li:nth-child(odd) {
  color: white;
  padding: 0.3vw;
  padding-bottom: 0.3vw;
  padding-left: 0.5vw;
}
.modal .modal-content .movie-details li:nth-child(odd):nth-child(odd) {
  background-color: #405865;
  width: 100%;
}
.modal .modal-content .movie-details li:nth-child(even) {
  margin: 0vw;
  padding: 0vw;
  color: white;
  padding-left: 0.5vw;
  padding-bottom: 0.5vw;
  padding-top: 0.5vw;
  border-bottom: solid 0.2vw white;
  width: 100%;
}
.modal .modal-content .movie-details li:nth-child(even):nth-child(odd) {
  background-color: #405865;
}
.modal .modal-content .movie-details li:nth-child(even):last-child {
  border-bottom: none;
}

/*# sourceMappingURL=styles.css.map */
