body {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
  font-family: "system-ui", sans-serif;
  font-weight: 200;
}

.featured-movie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2%;
  border: 3px solid black;
  overflow: hidden;
  margin-bottom: 2%;
}
.featured-movie .sub-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.featured-movie .sub-container img {
  object-fit: contain;
}
.featured-movie .featured-movie-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.featured-movie .featured-movie-layout h2 {
  font-size: 40px;
}
.featured-movie .featured-movie-layout button {
  width: 7rem;
  font: inherit;
  font-size: 28px;
  font-weight: 400;
  color: white;
  height: 3rem;
  background-color: #ff2c00;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.featured-movie .featured-movie-layout .summary {
  text-align-last: center;
  display: flex;
  text-align: right;
  flex-wrap: wrap;
}
.featured-movie .layout-helper {
  flex: 1;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.categories .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}
.categories .category .movies-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}
.categories .category .movies-list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2em;
  padding: 0%;
}
.categories .category .movies-list .carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0%;
  margin: 0% 1% 0% 1%;
  overflow: hidden;
}
.categories .category .movies-list .carousel li {
  padding: 0% 1% 0% 1%;
  margin: 0% 1% 0% 1%;
  min-width: 23%;
  max-height: 18em;
  overflow: hidden;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 30px;
}
.categories .category .movies-list .carousel li img {
  width: 100%;
  overflow: hidden;
  margin: 0% 1% 0% 1%;
}

h3 {
  font-size: 25px;
  font-weight: 500;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: gray;
  color: white;
}
header h1 {
  margin-left: 3%;
  font-weight: lighter;
  font-size: 50px;
}
header nav {
  display: flex;
  flex-direction: space-between;
  align-items: center;
  justify-content: space-between;
  margin-right: 8%;
}
header nav ul {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  padding: 0px;
  list-style: none;
}
header nav ul li {
  padding-right: 20px;
}
header nav ul a {
  text-decoration: none;
  color: inherit;
  font-size: 34px;
}

/*# sourceMappingURL=styles.css.map */
