@mixin flex-container($direction: column, $align: center, $justify: space-between) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
@mixin navigation-wrapper() {
    text-decoration: none ;
    color: inherit;
    font-size: 2.5vw;
    padding-right: 2vw;
}

$theme-color: #62757f;
$lighter-theme-color:#405865;

body{
    @include flex-container(column, center);
    font-family: "system-ui", sans-serif;
    font-weight: 200;
    margin: 0px;
}



header {
    @include flex-container(row, center, space-between);
    width: 96%;
    flex-shrink: 0;
    background-color: $theme-color;
    color: white;
    
    h1 {
        margin-left: 3%;
        font-weight: lighter ;
        font-size: 3.5vw;
    }
    nav {
        @include flex-container(row, space-between);
        padding: 0px;
        list-style: none;
        a{
            @include navigation-wrapper();
        }
        h3{
            @include navigation-wrapper();
            margin: 0;
            font-weight: 300;
            cursor: pointer;
        }
        .categories-wrapper:hover #movies-categories {
            opacity: 1;
            pointer-events: all;
        }
        #movies-categories{
            display: none;
            opacity: 0;
            transition: opacity 0.5s ease;
            display: flex;
            flex-direction: column;
            background-color: #62757f;
            position: absolute;
            margin-top: 0vw;
            pointer-events: none;
            right: 1vw;
            box-shadow: 0.2vw 0.2vw 0.4vw 0.1vw rgba(0, 0, 0, 0.2);
            a{
                font-size: 2vw;
                padding-left: 0.2vw;
                &:nth-child(odd){
                    background-color: $lighter-theme-color;
                }
                &:first-child{
                    padding-bottom: 1%;
                }
            }
        }
    }
}

main {
    width: 100%;
    .featured-movie {
        @include flex-container(row, flex-start, space-evenly);
        border: 0.3vw solid black;
        overflow: hidden;
        margin: 2vw;
        margin-bottom:0;
        .sub-container{
            flex: 1;
            display: flex;
            justify-content: center;
            max-height: inherit;
            justify-content: center;
            align-items: flex-start;
            img{
                object-fit: cover;
                max-height: inherit;
                width: 14vw
            }
        }
        .featured-movie-layout{
            @include flex-container(column, center, center );
            flex: 1;
            max-height: inherit;
            margin-right: 1vw;
            h2{
                font-size: 3vw;
                margin-bottom: 1vw;
                text-align: center;
            }
            .play-button{
                align-items: flex-start;
                justify-content: center;
                display: flex;
                width: 12vw;
                font: inherit;
                font-size: 2.5vw;
                text-decoration: none;
                font-weight: 500;
                text-align: center;
                color: white;
                height: 4vw;
                background-color: #fc4641;
                border: none;
                border-radius: 5vw;
                cursor: pointer;
                &:hover {
                    background-color: #f88872;
                    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
                    position: relative;
                    bottom: 2px;
                }
            }
            .summary{
                text-align-last: center;
                display: flex;
                text-align: center;
                text-wrap: balance;
                flex-wrap: wrap;
                overflow-y: scroll;
                font-size: 1.6vw;
                margin: 1vw 1vw 1vw 0vw;
                font-weight: bolder;

            }
            .summary::-webkit-scrollbar{
                display: none;
            }
        }
        .layout-helper{
            flex: 1;
        }
    }
    .categories {
        @include flex-container(column);
        .category {
            @include flex-container(column, center);
            margin-bottom: 2vw;
            width: 100vw;
            h3 {
                font-size: 2vw;
                font-weight: 500;
                margin-bottom: 5vw;
            }
            .movies-list {
                @include flex-container(row, center, space-evenly);
                white-space: nowrap;
                width: 92vw;
                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    font-size: 2vw;
                    padding: 0%;
                }
                .carousel {
                    @include flex-container(row);  
                    overflow: hidden;
                    list-style: none;
                    padding: 0%;
                    margin: 0% 1% 0% 1%;
                    scroll-behavior: smooth;
                    width: 100%;
                    .item {
                        margin: 0vw 1.9vw 0vw 0vw;;
                        border: solid 0.3vw black;
                        box-sizing: border-box;
                        max-height: 29.2vw;
                        a {
                            width: 100%;
                            display: block;
                        }
                        img {
                            width: max-content;
                            overflow:hidden;
                            width: 19.5vw;
                            height: 28.7vw;
                        }
                        &:first-child {
                            margin-left: 0.9vw;
                        }
                        &:last-child {
                            margin-right: 0.9vw;
                        }
                    }
                }
            }
        }
    }
}

.modal {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.904);
    z-index: 998;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }
    .close{
        display: flex;
        align-items: flex-start;
        text-decoration: none;
        width: 0em;
        .close-window {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 2.5vw;
            padding-right: 2vw;
            color: rgb(0, 0, 0);
            position: relative;
            bottom: 23vw;
            right: -11vw;
        }
    }
    .modal-content{
        margin: 1em;
        position: fixed;
        flex-direction: column;
        display: flex;
        width: 21vw;
        box-shadow: 0vw 0vw 0.5vw 0vw #b5b5b5;
        background: $theme-color;
        overflow: hidden;
        border-radius: 1vw;
        .modal-top {
            display: flex;
            flex-direction: row-reverse;
            padding: 0em;
            .movie-image {
                display: flex;
                align-self: flex-start;
                width: 100%;
                justify-content: flex-start;
                img {
                    width: 100%;
                    padding-bottom: 0px;
                }
            }
        }
        .movie-details {
            list-style: none;
            display: flex;
            font-weight: 500;
            overflow-wrap: anywhere;
            align-items: flex-start;
            margin: 0vw;
            flex-direction: column;
            color: rgb(0, 0, 0);
            font-size: 1.5vw;
            overflow-y: scroll;
            padding-left: 0;
            max-height: 21.2vw;
            &::-webkit-scrollbar{
                display: none;
            }
            li{
                color: white;
                padding: 0.3vw;
                padding-bottom: 0.3vw;
                padding-left: 0.5vw;
                &:nth-child(odd) {
                    background-color: $lighter-theme-color;
                    width: 100%;
                }

                }
            p{
                margin: 0vw;
                padding: 0vw;
                color: white;
                padding-left: 0.5vw;
                padding-bottom: 0.5vw;
                padding-top: 0.5vw;
                border-bottom: solid 0.2vw white;
                &:nth-child(odd){
                background-color: $lighter-theme-color;
                }
                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }

}