

body{
    font-family: "system-ui", sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
}

.featured-movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.categories {
    display: flex;
    flex-direction: column;
    .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
        .movies-list {
            display: flex;
            white-space: nowrap;
            align-items: center;
            max-width: 95%;
            .carousel {
                display: flex;
                flex-direction: row;
                list-style: none;
                overflow: hidden;
                margin-left: 3%;
                margin-right: 3%;
                padding: 0%;
            }
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: gray;
    color: white;
    align-items: center;
    h1 {
        margin-left: 3%;
        font-weight: lighter ;
        font-size: 50px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        margin-right: 8%;
        ul {
            display: flex;
            padding: 0px;
            justify-content: space-between;
            list-style: none;
            flex-direction: row;
            li{
                padding-right: 20px;
            }
            a {
                text-decoration: none ;
                color: inherit;
                font-size: 34px;
            }
        }
    }
}
